__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env
.env.*
!.env.example
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
public/static/
public/media/
logs/
*.log
*.rar
*.zip
.idea/
.vscode/
.DS_Store
Thumbs.db

!media/**/*.docx
!media/**/*.doc
!media/**/*.pdf
