# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/cp29524/apps/university_site"
PassengerBaseURI "/"
PassengerPython "/home/cp29524/virtualenv/apps/university_site/3.11/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

PassengerAppEnv production
Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On

# Map /static/ and /media/ to collectstatic/media roots (Jazzmin lives in public/static)
RewriteRule ^static/(.*)$ public/static/$1 [L]
RewriteRule ^media/(.*)$ public/media/$1 [L]
</IfModule>
